$color-white: #f0ebf8;
$color-black: #222222;
$color-grey: #b2b0b1;
$color-machine: #025581;
$color-border: #a4a4a2;
$color-number: #fc0404;

$effects-hover-opacity: 0.6;
$effects-active-opacity: 0.4;
$effects-transition: all 0.2s ease-out;
